#!/usr/bin/env bash

# ---------------------------------------------------
# 1. GIT
# ---------------------------------------------------
alias gs='git status'
alias gc='gitmoji -c' # Assumes an installed `gitmoji`
alias gf='git fetch'
alias gp='git push'
alias grs='git restore --staged'
alias grl='git revert HEAD'
alias gress='git reset --soft HEAD~1'
alias gresh='git reset --hard HEAD~1'
alias ggraph='git log --all --graph --decorate'
alias ggraphoneline='git log --all --graph --decorate --oneline'
alias gamend='git commit --amend --no-edit'
alias gadde='f () { git add . ":!$1"; }; f'
#----------------------------------------------------
# 2. BASH 
# ---------------------------------------------------

# 2.1 List files
alias llatest='ls -lArt | tail -n 1'
alias grep='grep --color'
alias get_full_filename='rev | cut -d " " -f1 | rev'
alias get_filename_only='get_full_filename | cut -d "." -f1'
alias get_fileextention='get_full_filename | cut -d "." -f2'
alias archive_directory='find . -print0 | xargs -0 tar -cvzf archive.tar.gz'
alias get_most_recently_modified_file='find . -type f -print0 | xargs -0 stat -f "%m %N" | sort -rn | head -1 | cut -d' ' -f2'

# 2.2 Checksum
alias check_sha='shasum -a 256'

# 2.3 Protect against overwritting
alias mv='mv -i'
alias cp='cp -i'

# 2.4 Navigation
alias ..='cd ..'
alias ....='cd ../..'
alias -- -='cd -'

# 2.5 Create directory & navigate to it
mcd() {
    mkdir "${1}" && cd "${1}" 	
}

# 2.6 Execute command in directory
xin(){
    cd "${1}" && shift && "${@}"
}

# 2.7 List files & grep
lsgrep() {
  ls -la | grep "${1}"
}

#----------------------------------------------------
# 3. CURL 
# ---------------------------------------------------
curljq() {
    curl "${1}" | jq "." # Assumes an installed `jq` 
}


